<title>
    {{# if title }}
        {{ title }} ::
    {{/ if }}
    {{ project.name }}
</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="description" content="{{ project.description }}">
<meta property="og:title" content="{{ project.name }}">
<meta property="og:image" content="/build/images/og.jpg">
<meta property="og:description" content="{{ project.description }}">
<meta name="format-detection" content="telephone=no">

<link rel="stylesheet" href="./Css/app.css" type="text/css" />

{{> Layouts/Defaults/favicon }}

{{> Layouts/Defaults/scripts }}
{{> Layouts/Defaults/hyphenopoly }}
